@import 'icon/*.png';
@include all-icon-sprites;

*, html, body {
	box-sizing: border-box;
}

header {
	background: url("../img/london.jpg") center center no-repeat fixed;
	background-size: cover;
	background-position: right;
	width: 100%;
	height: 100vh;
	margin-top: -40px;
	padding-left: 75px;
	position: relative;
	top: 0;
	h1 {
		padding-top: 110px;
		font-size: 3em;
		margin-left: 100px;
		color: $h1-color;
		font-family: 'PT Sans Caption', sans-serif;
	}//h1
	p {
		font-family: 'Merriweather', serif;
		margin-top:-35px;
		margin-left: 100px;
		padding-left: 5px;
		padding: 10px;
		width: 450px;
		border-radius: 5px;
		background: $header-p-bg;
	}//p
}
#social-media {
	text-align: center;
li {
	display: inline-block; 
	list-style: none;
	padding-right: 30px;
	margin-left: -20px;
	a {
		display: inline-block;
		width: 100px;
		height: 100px;
		zoom:0.6;
		-moz-transform:scale(0.6);
		-moz-transform-origin: 0 0;
		span {
			position: absolute;
			top: -9999em; 
			left: -9999em;
		}//span
	}// end a
}//end li
}

nav {
	position: fixed;
	top:0px;
	left:0px;
	z-index: 2;
	margin-top:-25px;
	width: 100%;
	padding-top:5px;
	ul {
		li {
			list-style-type: none;
			padding:15px;
			display: inline-block;
			float:left;
			background-color: rgba(192, 192, 192, 0);
			a {
				text-decoration: none;
				color:black;
				font-size: 1.3em;
				font-family: 'PT Sans Caption', sans-serif;
				&:hover {
					color: $gold;
				}
				span {
					position: absolute;
					top:-9999em;
					left:-9999em;
				}//span
			}//a
			.icon-logo {
				display: inline-block;
				width: 100px;
				height: 100px;
				zoom:0.6;
				-moz-transform:scale(0.6);
				-moz-transform-origin: 0 0;
				span {
					position: absolute;
					top:-9999em;
					left:-9999em;
				}//span
	   	 	} //.icon-logo
		}//li
		.link {
			margin-top:20px;
		}//.link
	}//ul
}

section {
	width: 70%;
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
	h2 {
		font-family: 'PT Sans Caption', sans-serif;
		font-size: 2em;
		color: $section-header-color;
		border-bottom: 1px solid $section-header-color;
	}//h2
	p {
		font-family: 'Merriweather', serif;
		line-height: 1.7em;
	}//p
	figure {
		
		position: relative;
		display: inline-block;
		img {
			max-width: 100%;
			display: block;
		}//img
	}//figure

	.clearfix:after {
		display: table;
		content: " ";
		clear: both;
	}//.clearfix

	#thumbnails {
		display: inline-block;
		width:19%;
		cursor: pointer;
		float:right;
		figure {
			display: block;
		}//figure

	}
	.active {
		opacity: 1;
		float:left;
		width: 76%;
		padding: 0px;
		margin-top:0px;
		margin-right:0px;
	}//.active
	.inactive {
		opacity: .7;
		&:hover {
			opacity: 1;
		}//hover
	}//.inactive
	.thumbnail {
		width:100%;
		padding:0px;
		margin:0px;
		figcaption {
			display: none;
		}//figcaption
	}//.thumbnail
	#gallery {
		display: float;
		text-align: left;
		padding: 0px;
		figure {
			margin-left: 0px;
		}
	}
}
//MAP
#map {
    height: 400px;
    width: 100%;
}

//REVIEWS
.fa-quote-left {
	font-size: 1.5em;
}
blockquote {
	margin-top: -35px;
}
cite {
	p {
		text-align: right;
		width: 100%;
		right:0px;
		padding-right: 50px;
		font-size: 1.5em;
		margin-top: -10px;
		margin-bottom: 50px;
		color: $gold;
	}
}

//BOOK
#button {
	width:120px;
	text-align: center;
	padding:10px;
	margin: 0 auto;
	background-color: $button-color;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
	a {
		color: black;
		text-decoration: none;
		&:hover {
			color: $gold;
		}
	}
}

footer {
	text-align: center;
	padding:20px;
	background-color: $footer-color;
}


/*media query block medium tablet*/
@media only screen and (min-width: 594px) and (max-width: 768px) {
	header {
		padding-left: 0px;
	}
	section {
		width: 90%;
	}

} /*end medium block*/

/*media query block small mobile*/
@media only screen and (max-width: 593px) {
	header {
		padding-left:0px;
		height: 400px;
		h1 {
			margin: 0 auto;
			text-align: center;
		}
		p {
			margin: 0 auto;
			width: 100%;
			text-align: center;
		}
	}

	nav {
		//margin-left:-40px;
		margin-top:0px;
		position: relative;
		ul {
			li {
				display: block;
				float: none;
				margin-left:-20px;
				width:100%;
				padding: 0px;
				padding-bottom: 10px;
				text-align: center;
				border-bottom: 1px solid black;
			}
		}
	}

	section {
		width: 99%;
		padding: 5px;
		#gallery {
			display: block;
			width:100%;
			figure {
				width:100%;
			}
		}

		.active {
			float: none;
			width: 100%;
		}
		#thumbnails {
			float: none;
			display: block;
			width: 100%;
			margin: 0px;
			figure {
				display: inline-block;
				width: 24%;
			}
		}
		.thumbnail {
			display: inline-block;
			width: 24%;
			margin: 0px;
		}
	}//end section

	#map {
		height: 200px;
	}

} /*end small block*/
