@import 'icon/*.png';
@include all-icon-sprites;

*, html, body {
	box-sizing: border-box;
}

header {
	background: url("../img/london.jpg") center no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
	margin-top: -50px;
	h1 {
		padding: 75px;
		padding-top: 120px;
		font-size: 3em;
	}
}

nav {
	position: fixed;
	top:0px;
	left:0px;
	z-index: 2;
	margin-top:-25px;
	ul {
		li {
			list-style-type: none;
			padding:30px;
			display: inline-block;
			float:left;
			a {
				text-decoration: none;
				color:black;
				font-size: 1.3em;
				span {
					position: absolute;
					top:-9999em;
					left:-9999em;
				}//span
			}//a
			.icon-logo {
				display: inline-block;
				width: 100px;
				height: 100px;
				padding-top:-20px;
				zoom:0.6;
				-moz-transform:scale(0.6);
				-moz-transform-origin: 0 0;
				span {
					position: absolute;
					top:-9999em;
					left:-9999em;
				}//span
	   	 	} //.icon-logo
		}//li
		.link {
			margin-top:20px;
		}
	}//ul
}