@import 'icon/*.png';
@include all-icon-sprites;

*, html, body {
	box-sizing: border-box;
}

header {
	background: url("../img/london.jpg") center center no-repeat fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
	margin-top: -40px;
	padding-left: 75px;
	position: relative;
	top: 0;
	h1 {
		padding-top: 110px;
		font-size: 3em;
		margin-left: 100px;
		font-family: 'PT Sans Caption', sans-serif;
	}//h1
	p {
		font-family: 'Merriweather', serif;
		margin-top:-35px;
		margin-left: 100px;
		padding-left: 5px;
		padding: 10px;
		width: 450px;
		border-radius: 5px;
		background: rgba(192, 192, 192, .6);
	}//p
}

nav {
	position: fixed;
	top:0px;
	left:0px;
	z-index: 2;
	margin-top:-25px;
	ul {
		li {
			list-style-type: none;
			padding:30px;
			display: inline-block;
			float:left;
			a {
				text-decoration: none;
				color:black;
				font-size: 1.3em;
				font-family: 'PT Sans Caption', sans-serif;
				span {
					position: absolute;
					top:-9999em;
					left:-9999em;
				}//span
			}//a
			.icon-logo {
				display: inline-block;
				width: 100px;
				height: 100px;
				padding-top:-20px;
				zoom:0.6;
				-moz-transform:scale(0.6);
				-moz-transform-origin: 0 0;
				span {
					position: absolute;
					top:-9999em;
					left:-9999em;
				}//span
	   	 	} //.icon-logo
		}//li
		.link {
			margin-top:20px;
		}//.link
	}//ul
}

section {
	width: 70%;
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
	h2 {
		font-family: 'PT Sans Caption', sans-serif;
		font-size: 2em;
		border-bottom: 1px solid black;
	}
	p {
		font-family: 'Merriweather', serif;
	}
	figure {
		max-width: 600px;
		position: relative;
		display: inline-block;
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.inactive {
		display: none;
	}
	.last-active {
		display: none;
	}

	.fa-chevron-circle-right, .fa-chevron-circle-left {
		display: inline-block;
		font-size: 3em;
		padding: 40px;
		vertical-align: center;
		margin: auto 0;
		&:hover {
			opacity: .7;
			cursor: pointer;
		}
	}
	#gallery {
		margin: 0 auto;
		display: inline-flex;
	}
}

//REVIEWS
.fa-quote-left {
	font-size: 1.5em;
}
blockquote {
	margin-top: -35px;
}
cite {
	p {
	text-align: right;
	width: 100%;
	right:0px;
	padding-right: 50px;
	font-size: 1.5em;
	margin-top: -10px;
	margin-bottom: 50px;
	}
}

footer {
	text-align: center;
}